.container-startpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 1000px; /* Adjust the max-width as needed */
    margin-left: auto;
    margin-right: auto;
  }
  
  
  h1.startpage-title {
    font-size: 24px;
    margin-bottom: 20px;
    }
  
  form.startpage-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  form.startpage-form div {
    margin-bottom: 10px;
  }
  
  label.startpage-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input.startpage-input[type="text"],
  input.startpage-input[type="file"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    margin-top: 10px;;
  }

.startpage-textarea {
    width: 400px;
    height: 200px; /* Adjust the height as needed */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  

  button.startpage-button[type="submit"] {
    background-color: rgb(62, 178, 62);
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  button.startpage-button[type="submit"]:hover {
    background-color: rgb(57, 159, 57);
  }
  