{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzx - Confirm your email address</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body style="font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Helvetica, sans-serif; line-height: initial; max-width: 580px;">
    <header class="mt2 mb2" style="margin-bottom: 20px; margin-top: 20px;"></header>

    <h1 style="font-size: 1.25rem; margin: 0; margin-bottom: 0.5em; padding: 0;">Thanks for joining Quizzx!</h1>

    <p style="margin: 0; margin-bottom: 0.5em; padding: 0; text-align: center;">
        Please confirm your email address to continue. Click the link below to activate your account.</p>

    <p class="mt2 mb2" style="margin: 0; margin-bottom: 20px; margin-top: 20px; padding: 0;">
        <span class="button__shadow" style="border-bottom: 2px solid rgba(0, 0, 0, 0.1); border-radius: 4px; display: block; width: 100%;">
            <a class="button" href="{{ activate_url }}" style="background: #204dd5; border: 1px solid #000; border-radius: 3px; color: white; display: block; font-size: 1rem; font-weight: 600; padding: 12px 20px; text-align: center; text-decoration: none; width: 100%;" target="_blank">
                Confirm Email Address
            </a>
        </span>
    </p>

    <p class="db mb1 gray" style="margin: 0; margin-bottom: 10px; padding: 0; color: #999;">
        Best,<br>
        The Quizzx Team
    </p>

    <footer class="mt2 mt4--lg" style="border-top: 1px solid #D9D9D9; margin-top: 20px; padding: 20px 0;">
        <ul style="list-style: none; margin: 0; margin-bottom: 0; padding: 0;">
            <li style="margin: 0; margin-bottom: 10px; padding: 0;">
                <small style="color: #999;">
                    <a href="{{ site_domain }}" style="border-bottom: 1px solid #E6E6E6; color: inherit; text-decoration: none;" target="_blank">Quizzx Website</a>
                </small>
            </li>
            <li style="margin: 0; margin-bottom: 10px; padding: 0;">
                <small style="color: #999;">
                    <a href="https://tapwater.co/privacy" style="border-bottom: 1px solid #E6E6E6; color: inherit; text-decoration: none;" target="_blank">Privacy Policy</a>
                </small>
            </li>
            <li style="margin: 0; margin-bottom: 10px; padding: 0;">
                <small style="color: #999;">
                    <a href="https://tapwater.co/terms" style="border-bottom: 1px solid #E6E6E6; color: inherit; text-decoration: none;" target="_blank">Terms of Service</a>
                </small>
            </li>
        </ul>
    </footer>
</body>
</html>
