{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
    <div class="container-fluid">
        <div class="row m-5">
            <div class="col-md-6">
                <h1>{% trans "Password Reset" %}</h1>
                <p class="forgot_password_info">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                <form method="post" class="container-fluid text-left m-3" id="forgot_password_form" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button class="btn btn-outline-primary btn-lg" type="submit">{% trans "Reset My Password" %}</button>
                </form>
                <p class="forgot_password_info">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>

        </div>

        {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock content %}
