{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container-fluid">

	{% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock messages %}
    
    <h3 class="h3" id="head_banner">{% trans "Change Password" %}</h3>

    <form method="post" action="{% url 'account_change_password' %}" class="container-fluid text-center" id="change_password_form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
 </div>
{% endblock content %}
